.navbar {
	padding: 0 1rem;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar, .navbar-brand {
	min-height: 35px;
}

.navigation-bar {
	background-color: #38003c;
	font-size: 0.69em;
}

.toggle-button-size {
	width: 1em !important;
    height: 1em !important;
}

.main-message {
	color: #484848 !important;
	font-weight: 300;
}

.grow { 
	transition: all .2s ease-in-out; 
}
.grow:hover { 
	transform: scale(1.35);
	cursor: pointer; 
}

output {
	margin-top: 5px;
	color: #1e90ff;
  	font-weight: bold;
  	font-size: 0.9rem;	
}

#rangeWrapper::before, #rangeWrapper::after {
	position: absolute;
	color: #1e90ff;
  	font-weight: 500;
  	font-size: 0.65rem;	
}

#rangeWrapper::before { 
    top: -0.35rem;
    left: 0;
	content: attr(data-range-min);
} 

#rangeWrapper::after { 
    top: -0.35rem;
    right: -0.4em;
    content: attr(data-range-max);
}

#shotRange {
	margin-top: 9px;
}

/* borderless table */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}


/* material icon color */
.material-icons.lime { color: #40d47e; }
.material-icons.dodger-blue { color: #1e90ff; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media (max-width: 862px) {
	.navbar, .navbar-brand {
		height: auto;
	}
}