.navbar {
	padding: 0 1rem;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar, .navbar-brand {
	min-height: 35px;
}

.navigation-bar {
	background-color: #38003c;
	font-size: 0.69em;
}

.toggle-button-size {
	width: 1em !important;
    height: 1em !important;
}

.main-message {
	color: #484848 !important;
	font-weight: 300;
}

@media (max-width: 862px) {
	.navbar, .navbar-brand {
		height: auto;
	}
}