html {
	font-family: sans-serif;
}

.navigation-bar {
	background-color: #005A9C;
	font-size: 0.69em;
}

.toggle-button-size {
	width: 1em !important;
    height: 1em !important;
}

.main-message {
	color: #484848 !important;
	font-weight: 300;
}